<div class="statistics">
  <% var pv_texts = (theme.footer.statistics.pv_format || __('footer.pv')).split('{}') %>
  <% var uv_texts = (theme.footer.statistics.uv_format || __('footer.uv')).split('{}') %>

  <% if (theme.footer.statistics.source === 'leancloud') { %>
    <% if (pv_texts.length >= 2) { %>
      <span id="leancloud-site-pv-container" style="display: none">
        <%- pv_texts[0] %>
        <span id="leancloud-site-pv"></span>
        <%- pv_texts[1] %>
      </span>
    <% } %>
    <% if (uv_texts.length >= 2) { %>
      <span id="leancloud-site-uv-container" style="display: none">
        <%- uv_texts[0] %>
        <span id="leancloud-site-uv"></span>
        <%- uv_texts[1] %>
      </span>
    <% } %>
    <% import_js(theme.static_prefix.internal_js, 'leancloud.js', 'defer') %>

  <% } else if (theme.footer.statistics.source === 'busuanzi') { %>
    <% if (pv_texts.length >= 2) { %>
      <span id="busuanzi_container_site_pv" style="display: none">
        <%- pv_texts[0] %>
        <span id="busuanzi_value_site_pv"></span>
        <%- pv_texts[1] %>
      </span>
    <% } %>
    <% if (uv_texts.length >= 2) { %>
      <span id="busuanzi_container_site_uv" style="display: none">
        <%- uv_texts[0] %>
        <span id="busuanzi_value_site_uv"></span>
        <%- uv_texts[1] %>
      </span>
    <% } %>
    <% import_js(theme.static_prefix.busuanzi, 'busuanzi.pure.mini.js', 'defer') %>
  <% } %>
</div>
<div id="music_div" style="position: fixed; bottom: 0px; left: 30px;z-index:999;transition: .4s">
  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=110 
    src="//music.163.com/outchain/player?type=0&id=919444742&auto=1&height=90">
  </iframe>
  <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/bynotes/texiao/source/js/xiantiao.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/bynotes/texiao/source/js/yinghua.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/bynotes/texiao/source/js/xiaoxingxing.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/bynotes/texiao/source/js/dianjichuzi.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bynotes/texiao/source/css/gundongtiao.css"></link>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bynotes/texiao/source/css/toubudaziji.css"></link>
  <script src="/js/musicshow.js"></script>
</div>
